/* Testing colors */
:root {
    --dark-green: #377D58;
    --medium-green:#609080;
    --dark-brown:#5A3433;
    --medium-brown:#8B4839;
}

.background-color-F3BB30 {
    background-color: #eee;
}

@media screen and (max-width: 1919px) and (min-width: 1200px) {
    .container {
        max-width: 1250px !important;
    }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
    .container {
        max-width: 1020px !important;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .container{
        max-width: 765px !important;
    }
}

.margin-0 {
    margin-left: 0;
    margin-right: 0;
}

.mt56px {
    margin-top: 56px !important;
}

.text-left {
    text-align: left !important;
}

.px8px {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.d-n {
    display: none;
}

@media (max-width:767px) {
    .d-n-m {
        display: none;
    }
}

@media (max-width:991px) {
    .d-n-t {
        display: none;
    }
}

body {
    font-family: 'Raleway', sans-serif;
}

/* Navigation */
.dropdown-toggle::after {
    display: none;
}

.dropdown-icon {
    padding-left: .5rem;
    font-size: 17px;
    vertical-align: -2px;
}


.nav-link {
    position: relative;
}

.nav-link:before {
    content: "";
    height: 5px;
    opacity: 0;
    width: 0;
    display: inline-block;
    position: absolute;
    bottom: 8px;
    z-index: -1;
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

.nav-link:hover:before {
    background-color: #F3BB30;
    opacity: 1;
    width: 85%;
}

.bg-light {
    background-color: #fcfbfa !important;
}

.nav-item {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.nav-item a {
    color: #100f0a !important;
    font-size: .85em;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
}

.dropdown-menu a {
    transition: all .25s ease-in-out;
}

.dropdown-menu a:hover {
    opacity: .75;
}

.dropdown-menu {
    transition: all .25s ease-in-out !important;
    background-color: #FCFBFA;
    border: 0;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    top: 100%;
    border-radius: 0;
    padding: 0;
    margin: 0;
    min-width: 300px;
    max-width: 350px;
}

.dropdown-item {
    color: #100f0a;
    font-size: .85em;
    font-weight: 500;
    line-height: 16px;
    padding: .6rem 1.5rem;
    text-transform: none !important;
}

.dropdown-item:focus {
    background-color: #fcfbfa;
}

.language-icon {
    width: 21px;
    height: auto;
}

.shoping-cart {
    font-size: 18px;
}

/* Remove default outline from dropdown link */
a#navbarDropdown.nav-link.dropdown-toggle:active,
a#navbarDropdown.nav-link.dropdown-toggle:focus {
   outline: 0;
}
/* End remove default outline */

/* Logo */
.smaller {
    margin: 0 .85rem;
    height: auto !important;
    width: 64px !important;
}

.navbar-brand {
    margin: 0 1rem;
}

.logo-png {
    width: 94px;
    height: auto;
    transition:all cubic-bezier(0.0, 0.0, 0.58, 1.0) 0.25s;
}


/* Logo responsive */
@media (max-width:991px) {
    .navbar {
        padding: 0;
    }

    .nav-item {
        margin: auto 0;
    }

    .navbar .navbar-nav {
        width: 100%;
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar-nav .nav-item {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .dropdown-item {
        padding-top: .75rem;
        padding-bottom: .75rem;
    }

    .dropdown-menu {
        text-align: center;
        min-width: 100%;
        margin-top: .75rem;
        margin-bottom: .75rem;
        border-top: 0;
        border-bottom: 0;
    }

    .dropdown-menu.show {
        display: inline-block;
        /* width: 100%; */
    }

    .logo-desktop {
        display: block !important;
    }
}

@media (max-width:767px) {
    .navbar {
        padding-bottom: 1rem;
    }
    .navbar-nav .nav-item {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (min-width:991px) {
    .logo-desktop {
        display: none !important;
    }
}
/* End logo & responsive */
/* End navigation */

/* Header */
/* Slick pack */
.slick-dots {
    bottom: 1rem;
}

.slick-dots li button:before {
    font-size: 30px;
    color: #f2f2f2;
}

.slick-dots li.slick-active button:before {
    color: #bd1220;
    opacity: 1;
}

#slideshow .arrow-prev {
    position: absolute;
    left: 32px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#slideshow .arrow-next {
    position: absolute;
    right: 28px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.arrow-prev-icon {
    font-size: 35px;
    color: rgba(255,255,255,.7);;
    cursor: pointer;
    left: 0;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.arrow-next-icon {
    font-size: 35px;
    color: rgba(255,255,255,.7);
    cursor: pointer;
    vertical-align: -5px;
    right: 0;
    opacity: 0;
    transition: all .2s ease-in-out;
}

#slideshow:hover .arrow-prev-icon,
#slideshow:hover .arrow-next-icon {
    opacity: 1;
}

.landing-hero-butcher {
    height: 76vh;
    background: linear-gradient(to bottom, rgba(95, 95, 95, .6) 0%, rgba(95, 95, 95, .3) 100%), 
    url(../img/victoria-shes-WxNCLEKq4-Y-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;
}

.landing-hero-butcher-copy {
    height: 76vh;
    background: linear-gradient(to bottom, rgba(95, 95, 95, .6) 0%, rgba(95, 95, 95, .3) 100%), 
    url(../img/meat-stake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;
    position: relative;
}

.mid-img-title {
    min-width: 300px;
    max-width: 60%;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-40%);
    position: relative;
    text-align: center !important;
}

.header-title-big {
    margin: 0;
    margin-bottom: .5rem;
    font-weight: 800;
    font-size: 43px;
    padding: .5rem 2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.header-title-md {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    padding: .2rem 1rem;
    /* text-transform: uppercase; */
}

@media (max-width:991px) {

    .landing-hero-butcher {
        height: 59vh;
        background-position: center 10%;
    }

    .mid-img-title {
        width: 700px;
    }

    .header-title-big {
        font-size: 39px;
    }

    .header-title-md {
        font-size: 18px;
    }
}

@media (max-width:767px) {

    .landing-hero-butcher {
        height: 75vh;
    }

    .mid-img-title {
        max-width: 400px;
        min-width: 300px;
        top: 50%; 
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .header-title-big {
        font-size: 35px;
    }

    .header-title-md {
        font-size: 15px;
        font-weight: 800;
    }
    .button-restangle {
        padding: .6rem 1.9rem !important;
        font-weight: .75rem !important;
    }

}

.btn-box {
    margin: 2.5rem 0;
}

.button-restangle {
    border: 1px solid #ffffff;
    color: #fff;
    padding: 12px 22px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.7;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}

.button-restangle:hover {
    border-color: #bd1220;
    background: #bd1220;
    color: #fff;
    text-decoration: none;
}
/* End header */

/* Who we are */
/* about us */
.container-custom-size {
    padding: 1rem;
    margin-top: 60px;
    margin-bottom: 60px;
}

.about-us-title-md {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.about-us-p {
    font-size: .85rem;
    line-height: 23px;
    font-weight: 500;
}

.stylish-line {
    margin: 1rem .5rem 3rem 0;
    width: 40px;
    height: 5px;
    /* background-color: #aa3c3b; */
    background-color: #F3BB30;
}

.quete {
    color: #100f0a;
    opacity: .05;
    top: 24%;
    transform: translateY(-76%);
    position: absolute;
    font-size: 50px;
}

.about-us-link {
    color: #aa3c3b;
    transition: all .25s ease-in-out;
}

.about-us-link:hover {
    color: #100f0a;
    margin-left: 3px;
    opacity: .8;
    text-decoration: none;
}

.about-us-arrow {
    font-size: 15px;
    margin-left: 3px;
}

.chairman-signature {
    background-image: url('../img/random-signature-generator.png');
    width: 34%;
    height: 72px;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.chairman {
    font-size: 15px;
    font-weight: 700;
    margin-right: 1.5rem;
    text-transform: uppercase;
}
/* End about us */
/* .column-with-img:after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 13%;
    left: 32%;
    width: 500px;
    height: 475px;
    background: #100f0a;
} */

.about-us-img {
    margin-top: 60px;
    background-image: url('../img/jesson-mata-I2Erl2cU_A4-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: 10% top;
    background-size: cover;
    width: 505px;
    height: 475px;
    position: relative;
    z-index: 9;
}

.mr {
    margin-right: 15px;
}

@media (max-width:991px) {
    .column-with-img:after {
        display: none;
    }

    .about-us-p {
        margin-bottom: .5rem;
        font-size: .85rem;
        line-height: 23px;
        font-weight: 500;
    }

    .quete {
        top: 29%;
        transform: translateY(-71%);
        position: absolute;
        font-size: 50px;
    }

    .container-custom-size {
        padding: .5rem;
        margin-top: 45px;
        margin-bottom: 45px;
    }

    .stylish-line {
        margin: .5rem .5rem 2rem 0;
    }

    .chairman-signature {
        margin-right: 1.5rem;
        margin-bottom: .5rem;
        margin-top: .5rem;
    }

    .about-us-img {
        width: 325px;
        height: 325px;
        box-shadow: 140px -60px 0px 0px rgba(16, 15, 10, 1);
    }

    .padding-zero-at-tablet {
        padding: 0;
    }

    .padding-1-at-tablet {
        padding-top: 1rem;
    }
}

@media (max-width:767px) {
    .container-custom-size  {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .margin-for-row {
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .stylish-line {
        margin: .5rem 0 1rem;
    }

    .quete {
        display: none;
    }
}
/* End who we are */

/* Benefits */
.benefits-bg {
    text-align: center;
    /* background: linear-gradient(to bottom, rgba(12, 9, 9, 0.5) 0%, rgba(12, 9, 9, 0.5) 100%), 
    url(../img/max-delsid-oBwnHsjCx9A-unsplash.jpg); */
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center 64%;
}

.benefits-bg img {
    padding-top: .5rem;
    width: 15%;
    height: auto;
}

.benefit-title {
    padding-bottom: 0 !important;
    padding: 1rem;
    color: #100f0a;
    font-size: 1rem;
    font-weight: 600;
}
/* end benefits */

/* Special menu */
/* .individual-special-menu-photo {
    height: 268px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(32,42,46,.19);
}

.individual-special-menu-photo > div:first-child {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all .2s linear !important;
} */

/* .individual-special-menu-photo:hover > div:first-child {
    transform: scale(1.05);
} */

.special-menu-btn-cont {
    margin-top: 1.5rem;
    text-align: center;
}

.button-special-menu {
    padding: 14px 19px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    align-items: center;
    min-width: 120px;
    box-shadow: 0 4px 8px 0 rgba(32,42,46,.04);
    background-color: #fff;
    border: 1px solid #bd1220;
    color: #222;
    border-radius: .1875rem;
    transition: border-color .3s,background-color .3s cubic-bezier(.35,0,0,1);
}

.button-special-menu i {
    /* color: #222; */
    vertical-align: -1px;
    padding-left: 2px;
}

.button-special-menu:hover {
    background-color: #bd1220;
    color: #fff;
    border-color: #bd1220;
    text-decoration: none;
}

@media (max-width:767px) {
    .special-menu-btn-cont {
        padding-top: 1rem;
    }
    .benefits-bg img {
        width: 40%;
    }

    .benefit-title {
        font-size: .9rem;
        font-weight: 500;
    }
}
/* End special menu */

/* Product */

.individual-special-menu-photo {
    height: 292px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(32,42,46,.19);
}

.individual-special-menu-photo > div:first-child {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all .2s linear !important;
}

@media (min-width: 768px) {
    .individual-special-menu-item:first-child {
        margin-bottom: 40px;
    }
}

.individual-special-menu-item h4 {
    margin: .9rem 0 0 1rem;
    padding-top: .5rem;
    font-weight: 700;
    font-size: 16px;
    color: #100f0a;
}

.individual-special-menu-item p {
    margin: 0 0 0 1rem;
    padding-top: .5rem;
    font-weight: 500;
    font-size: 16px;
    color: #777;
}

.strong-p {
    color: #100f0a;
}

.product-active {
    color: #aa3c3b !important;
    font-weight: 700 !important;
}

.product-img {
    text-align: center;
    margin-bottom: 1rem;
}

.product-img p {
    padding: 1rem;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #aa3c3b;
    margin: 0;
}

.product-img img {
    cursor: pointer;
    width: 23%;
    height: auto;
}

.product-floating-btn {
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 0;
    background-color:#fff;;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all .15s ease-in-out;
    border-bottom-left-radius: .1875rem;
    border-bottom-right-radius: .1875rem;
}

.card {
    border: 0;
    background-color: #fff;
}

.product-card {
    transition: all .15s ease-in-out;
    border-radius: .1875rem;
    background-color: #fff;
    border: 0;
}

.card-img, .card-img-top {
    border-top-left-radius: calc(.1875rem - 1px);
    border-top-right-radius: calc(.1875rem - 1px);
}

.btn-primary {
    background-color: #bd1220 !important;
    border-color: #bd1220 !important;
    color: #fff !important;
    box-shadow: none;
    font-size: .85rem;
    transition: all .25s ease-in-out;
}

.btn-primary:hover {
    background-color: #8e0e18 !important;
    border-color: #8e0e18 !important;
}

.btn-primary i {
    margin-right: 8px;
    font-size: 13px;
}

.product-floating-btn > .btn {
    background-color: transparent;
    border-radius: .1875rem;
}

@media (min-width: 992px) {
    .product-card:hover:not(.card-static) {
        border-color: #fff !important;
        box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0, 0, 0, 0.1);
        z-index: 10;
    }
}

@media (min-width: 992px) {
    .product-card:hover:not(.card-static) .product-floating-btn {
        opacity: 1;
        visibility: visible;
        box-shadow: 0 0.9rem 1.525rem -0.375rem rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 991px) {
    .individual-special-menu-photo {
        height: 180px;
    }

    .individual-special-menu-item h4 {
        margin: 0 0 0 .5rem;
    }

    .individual-special-menu-item p {
        margin: 0 0 0 .5rem;
    }

    .special-menu-btn-cont {
        margin-top: 1rem;
    }
}

@media (max-width:767px) {
    .padding-0-for-mobile {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1.5rem;
    }

    .customize-menu-navigation {
        padding-top: .9rem;
        font-weight: 500;
    }

    .product-img p {
        padding: .5rem;
    }
}
/* End product */


/* Footer */
.btm-foot {
    padding: 2rem;
    background-color: #100f0a;
    text-align: left;
    margin-top: 60px;
}

.btm-foot img {
    margin: 2rem;
    width: 29%;
    height: auto;
}

.footer-space p {
    margin-bottom: .5rem;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #f2f2f2;
}

.stylish-line-xs {
    margin: 0 .5rem .5rem 0;
    width: 40px;
    height: 3px;
    background-color: #F3BB30;
}

.footer-list a {
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 16px;
    font-weight: 400;
    color: #f2f2f2;
    transition: all .25s ease-in-out;
}

.footer-list a:hover {
    text-decoration: none;
    opacity: .7;
}

.footer-space ul {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    padding: 0;
    margin: 0;
    list-style: none;
}

.input-group {
    padding-top: .9rem;
}

.form-control:focus {
    color: #495057;
    background-color: #f2f2f2;
    border-color: transparent;
    outline: 0;
    box-shadow: 0;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #f2f2f2;
    border-color: transparent;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}

.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn {
    font-weight: 500;
    color: #f2f2f2;
    background-color: #F3BB30;
    border-radius: 0;
}

.footer-social-icons-cont a {
    margin: 1rem 1rem 1rem 0;
}

.footer-social-icons {
    color: #eee;
    font-size: 16px;
    padding: .1rem;
    transition: all .25s ease-in-out;
}

.footer-social-icons:hover {
    color: #F3BB30;
}

@media (max-width:767px) {
    .footer-space:nth-child(3) {
        margin-top: 1rem;
    }
}
/* End footer */
