/* Testing colors */
:root {
    --dark-green: #377D58;
    --medium-green:#609080;
    --dark-brown:#5A3433;
    --medium-brown:#8B4839;
}

.background-color-F3BB30 {
    background-color: #eee;
}

*:focus {
    outline: none;
}

@media (min-width: 1200px) {
    .footer-custom-flex-2 {
        -ms-flex: 0 0 33.4%;
        flex: 0 0 37.4%;
        max-width: 37.4%;
    }
}

@media screen and (max-width: 1919px) and (min-width: 1200px) {
    .container {
        max-width: 1250px !important;
    }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
    .container {
        max-width: 1020px !important;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .container{
        max-width: 765px !important;
    }
}

@media (max-width: 74.9375em) {
    .mb-lg--30 {
        margin-bottom: 30px;
    }
}

@media (max-width: 47.94em) {
    .mb-sm--30 {
        margin-bottom: 30px;
    }
}

@media (max-width: 61.94em) {
    .mb-md--30 {
        margin-bottom: 30px;
    }
}

@media (max-width: 61.94em) {
    .pt-md--30 {
        padding-top: 3rem !important;
    }
}

.display-none {
    display: none;
}

@media (max-width:767px) {
    .text-align-center-mobile {
        text-align: center !important;
    }

    .display-none-for-mobile {
        display: none !important;
    }

    .mbxs {
        margin-bottom: 0;
    }

    .mt56px {
        margin-top: 30px;
    }
}

@media (min-width:768px) {
    .display-none-for-desktop {
        display: none;
    }
}

@media (min-width:992px) {
    .mr15px {
        margin-left: 36px !important;
    }
}

.recipe-btn {
   padding: 12px 22px !important; 
}

.mt-34 {
    margin-top: 34px !important;
    margin-bottom: 10px !important;
}

.mt-48 {
    margin-top: 48px !important;
}

.margin-0 {
    margin-left: 0;
    margin-right: 0;
}

.mt56px {
    margin-top: 56px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.px8px {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.d-n {
    display: none;
}

@media (max-width:767px) {
    .mlr-0 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .plr-20px {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .d-n-m {
        display: none;
    }

    .pt40 {
        padding-top: 40px !important;
    }
    
    .pb40 {
        padding-bottom: 40px !important;
    }
}

@media (max-width:991px) {
    .d-n-t {
        display: none;
    }
}

body {
    font-family: 'Lato', sans-serif;
}

.pt40 {
    padding-top: 60px;
}

.pb40 {
    padding-bottom: 60px;
}

.mt20 {
    margin-top: 20px;
}

.mb-40 {
    margin-bottom: 3rem;
}

.pt-40 {
    padding-top: 4rem;
}

.mb-15 {
    margin-bottom: 1.5rem;
}

.mt-20 {
 margin-top: 2rem;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.pt-10 {
    padding-top: 1rem;
}

.pb-30 {
    padding-bottom: 3rem;
}

.pb-35 {
    padding-bottom: 3.5rem;
}



/* Product item padding */

.pl-0 {
    padding-left: 0 !important;
    padding-right: 30px;
}

.pr-0 {
    padding-right: 0 !important;
    padding-left: 30px;
}

.plr-30 {
    padding-left: 10px;
    padding-right: 20px;
}

.prl-30 {
    padding-right: 10px;
    padding-left: 20px;
}

/* End product item padding */

/* Navigation */

.bg-light {
    background-color: rgba(252, 251, 250, .9) !important;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}


.nav-item:nth-child(3) {
    margin-right: 8.5rem;
}

.nav-item:nth-child(5) {
    margin-left: 8.5rem;
}

.navbar-light .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
}

.dropdown-toggle::after {
    display: none;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border: 0;
}

.dropdown-icon {
    padding-left: .5rem;
    font-size: 17px;
    vertical-align: -2px;
}

@media (min-width:992px) {

    .dropdown:hover>.dropdown-menu {
        display: block;
      }

    .line-eff {
        position: relative;
    }
    
    .line-eff:before {
        content: "";
        height: 7px;
        opacity: 0;
        width: 0;
        display: inline-block;
        position: absolute;
        bottom: 7px;
        z-index: -1;
        transition: all .15s ease-in-out;
        -webkit-transition: all .15s ease-in-out;
    }
    
    .line-eff:hover:before {
        background-color: #f6cb60;
        opacity: 1;
        width: 100%;
    }
    
    .icon-op {
        transition: all .25s ease-in-out;
    }
    
    .icon-op:hover {
        opacity: .7;
    }

    .dropdown-item::before {
        content: "";
        height: 7px;
        opacity: 0;
        width: 0;
        display: inline-block;
        position: absolute;
        bottom: 7px;
        z-index: -1;
        transition: all .15s ease-in-out;
        -webkit-transition: all .15s ease-in-out;
    }
    
    .dropdown-item:hover::before {
        background-color: #f6cb60;
        opacity: 1;
        width: 100%;
    }

    .dropdown-menu {
        border-radius: 5px !important;
        /* border-top: 1.5rem solid transparent !important; */
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        margin-left: -1rem !important;
    }
}

.dropdown-item:focus {
    background-color: #fcfbfa;
}

.dropdown-item {
    display: inline-block;
    position: relative;
    width: auto;
    color: #100f0a;
    font-size: .85em;
    font-weight: 500;
    line-height: 16px;
    padding: .5rem 0;
    text-transform: none !important;
    z-index: 9;
}

.nav-item {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    padding-right: .5rem;
    padding-left: .5rem;
}

.nav-item a {
    color: #100f0a !important;
    font-size: .85em;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
}

.dropdown-menu {
    /* rgba(252, 251, 250, 1) */
    background-color: #FCFBFA;
    border: 0;
    top: 100%;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0;
    margin: 0;
    min-width: 200px;
    max-width: 300px;
    z-index: 9;
}

.dropdown-menu > ul > li:last-child {
    padding-bottom: .9rem;
}

.dropdown-menu > ul > li:first-child {
    padding-top: .9rem;
}

.language-icon {
    width: 21px;
    height: auto;
}

.shoping-cart {
    font-size: 18px;
}

/* Remove default outline from dropdown link */
a#navbarDropdown.nav-link.dropdown-toggle:active,
a#navbarDropdown.nav-link.dropdown-toggle:focus {
   outline: 0;
}
/* End remove default outline */

/* Logo */
.smaller {
    margin-top: 5px;
    margin-left: 15px;
    height: auto !important;
    width: 46px !important;
}

.navbar-brand {
    margin: 0;
}

.logo-png {
    width: 94px;
    height: auto;
    transition:all cubic-bezier(0.0, 0.0, 0.58, 1.0) 0.25s;
}


/* Logo responsive */
@media (max-width:991px) {

    .dropdown-menu-card-icon-size {
        display: inline-block;
        width: 1rem;
        margin-right: 10px;
    }

    .dropdown-menu-card-icon-size i {
        font-size: 14px;
    }

    .nav-item:nth-child(3) {
        margin-right: 0;
    }
    
    .nav-item:nth-child(5) {
        margin-left: 0;
    }
    .navbar {
        padding: 0;
    }

    .nav-item {
        margin: auto 0;
    }

    .navbar .navbar-nav {
        width: 100%;
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar-nav .nav-item {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .dropdown-item {
        padding-top: .55rem;
        padding-bottom: .55rem;
    }

    .dropdown-menu {
        text-align: center;
        min-width: 100%;
        margin-top: .75rem;
        margin-bottom: .75rem;
        border-top: 0;
        border-bottom: 0;
    }

    .dropdown-menu.show {
        display: inline-block;
        /* width: 100%; */
    }

    .logo-desktop {
        display: block !important;
        margin-left: 15px !important;
        margin-top: 5px !important;
    }
}

@media (max-width:767px) {

    .navbar-brand {
        margin: 0;
        padding: 0;
    }
    .navbar-toggler-icon {
        margin: 0;
        padding: 0;
    }

    .navbar-toggler {
        margin-top: 5px;
        margin-right: 15px !important;
        margin: 0;
        padding: 0;
    }

    .logo-png {
        width: 46px;
        margin: 0;
        padding: 0;
    }

    .navbar {
        padding-bottom: 15px;
    }

    .navbar-nav .nav-item {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (min-width:991px) {
    .logo-desktop {
        display: none !important;
    }
}
/* End logo & responsive */
/* End navigation */

/* Header */
/* Slick pack */

/* outline */
.slick-slide {
    outline: none !important;
}

.slick-slide:focus {
    outline: none !important;
}

/* End outline */

.slick-dots {
    bottom: 1rem;
}

.slick-dots li button:before {
    font-size: 30px;
    color: #f2f2f2;
}

.slick-dots li.slick-active button:before {
    color: #f3bb30;
    opacity: 1;
}

#slideshow .arrow-prev {
    position: absolute;
    left: 32px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#slideshow .arrow-next {
    position: absolute;
    right: 28px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.arrow-prev-icon {
    font-size: 35px;
    color: rgba(255,255,255,.7);;
    cursor: pointer;
    left: 0;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.arrow-prev-icon:hover,
.arrow-next-icon:hover{
    color: #f6cb60;
    opacity: 1 !important;
}

.arrow-next-icon {
    font-size: 35px;
    color: rgba(255,255,255,.7);
    cursor: pointer;
    vertical-align: -5px;
    right: 0;
    opacity: 0;
    transition: all .2s ease-in-out;
}

#slideshow:hover .arrow-prev-icon,
#slideshow:hover .arrow-next-icon {
    opacity: 1;
}

.landing-hero-butcher {
    height: 76vh;
    background: linear-gradient(to bottom, rgba(95, 95, 95, .6) 0%, rgba(95, 95, 95, .3) 100%), 
    url(../img/victoria-shes-WxNCLEKq4-Y-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;
}

.landing-hero-butcher-copy {
    height: 76vh;
    background: linear-gradient(to bottom, rgba(95, 95, 95, .6) 0%, rgba(95, 95, 95, .3) 100%), 
    url(../img/meat-stake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;
    position: relative;
}

.mid-img-title {
    min-width: 300px;
    max-width: 60%;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-40%);
    position: relative;
    text-align: center !important;
}

.header-title-big {
    margin: 0;
    margin-bottom: .5rem;
    font-weight: 800;
    font-size: 43px;
    padding: .5rem 2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.header-title-md {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    padding: .2rem 1rem;
}

@media (max-width:991px) {

    .landing-hero-butcher {
        height: 59vh;
        background-position: center 10%;
    }

    .mid-img-title {
        width: 700px;
    }

    .header-title-big {
        font-size: 39px;
    }

    .header-title-md {
        font-size: 18px;
    }
}

@media (max-width:767px) {

    .transperant-benefits-bg {
        width: 100%;
        height: 100%;
    }

    .landing-hero-butcher-copy {
        height: 71vh;
    }

    .landing-hero-butcher {
        height: 71vh;
    }

    .mid-img-title {
        max-width: 400px;
        min-width: 300px;
        top: 50%; 
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .header-title-big {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 30px;
    }

    .header-title-md {
        font-size: 15px;
        padding: .5rem;
        line-height: 23px;
        font-weight: 600;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .btn-box {
        margin-top: 35px !important;
        margin-bottom: 35px !important;
    }

    .button-restangle {
        padding: .6rem 1.9rem !important;
        font-weight: .75rem !important;
    }

}

.btn-box {
    margin: 2.5rem 0;
}

.button-restangle {
    border: 1px solid #f3bb30;
    color: #100f0a;
    background-color: #f3bb30;
    padding: 12px 22px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}

.button-restangle:hover {
    border-color: #f1b010;
    background: #f1b010;
    color:#100f0a;
    text-decoration: none;
}
/* End header */

/* Who we are */

/* about us */

.about-bg {
    background-color: #f5f6fa;
}
.container-custom-size {
    padding: 1rem;
    margin-top: 60px;
    margin-bottom: 60px;
}

.about-us-title-md {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.about-us-p {
    font-size: 17px;
    line-height: 23px;
    font-weight: 500;
    padding-right: 30px;
}

.stylish-line {
    margin: 1rem .5rem 3rem 0;
    width: 40px;
    height: 5px;
    /* background-color: #aa3c3b; */
    background-color: #F3BB30;
}

.quete {
    color: #100f0a;
    opacity: .05;
    top: 24%;
    transform: translateY(-76%);
    position: absolute;
    font-size: 50px;
}

.about-us-link {
    color: #aa3c3b;
    transition: all .25s ease-in-out;
}

.about-us-link:hover {
    color: #100f0a;
    margin-left: 3px;
    opacity: .8;
    text-decoration: none;
}

.about-us-arrow {
    font-size: 15px;
    margin-left: 3px;
}

.chairman-signature {
    background-image: url('../img/random-signature-generator.png');
    width: 34%;
    height: 90px;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.chairman {
    font-size: 15px;
    font-weight: 700;
    margin-right: 1.5rem;
    text-transform: uppercase;
}

.about-us-img {
    border-radius: 5px;
    background-image: url('../img/meat-pan.jpg');
    background-repeat: no-repeat;
    background-position: 10% center;
    background-size: cover;
    width: 100%;
    height: 345px;
    position: relative;
    z-index: 9;
}

.mr {
    margin-right: 15px;
}

@media (max-width:991px) {
    .column-with-img:after {
        display: none;
    }

    .about-us-p {
        margin-bottom: .5rem;
        font-size: .85rem;
        line-height: 23px;
        font-weight: 500;
    }

    .quete {
        top: 29%;
        transform: translateY(-71%);
        position: absolute;
        font-size: 50px;
    }

    .container-custom-size {
        padding: .5rem;
        margin-top: 45px;
        margin-bottom: 45px;
    }

    .stylish-line {
        margin: .5rem .5rem 2rem 0;
    }

    .chairman-signature {
        margin-right: 1.5rem;
        margin-bottom: .5rem;
        margin-top: .5rem;
    }

    .about-us-img {
        width: 325px;
        height: 325px;
        box-shadow: 140px -60px 0px 0px rgba(16, 15, 10, 1);
    }

    .padding-zero-at-tablet {
        padding: 0;
    }

    .padding-1-at-tablet {
        padding-top: 1rem;
    }
}

@media (max-width:767px) {
    .border-right {
        border-right: 0 !important;
    }

    .border-bottom {
        padding-bottom: 15px;
    }

    .mb-20px {
        margin-bottom: 15px !important;
    }

    .mb-40 {
        margin-bottom: 40px;
    }

    .newsletter-form--3 .newsletter-form__submit {
        padding: 6px 2px !important;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
        height: 71vh;
    }

    .container-custom-size  {
        margin-top: 40px;
        margin-bottom: 40px;
        padding-bottom: 1px;
        padding-top: 1px;
    }

    .margin-for-row {
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .stylish-line {
        margin: .5rem 0 1rem;
    }

    .quete {
        display: none;
    }
}
/* End who we are */

/* Benefits */
.method-area {
    /* background-color: #efefef; */
    background-color: #DDDDDD;
    position: relative;
    z-index: 1;
    width: 100%;
    opacity: 1;
}

.transperant-benefits-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .07;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.method-box-2 h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 1.6;
    margin-bottom: 10px;
}

.method-box-2 p {
    font-size: 14px;
    font-weight: 500;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
}

.method-box-2 img {
    width: 55px;
    height: auto;
}

.individual-special-menu-photo {
    border-radius: 5px;
    min-height: 190px;
    max-height: 247px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.post-info {
    margin-left: 17px;
    padding-right: 17px;
}

.post-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin: 1rem 0 .5rem 0;
}

.post-title a {
    color: #100f0a;
    transition: all .25s ease-in-out;
}

.post-title a:hover {
    text-decoration: none;
}

.icon-size {
    display: inline-block;
    width: 1.5rem;
    vertical-align: 1px;
}

.icon-size i {
    font-size: 14px;
}

.post-meta {
    text-align: left;
    margin: 5px 0 10px;
    width: 100%;
}

.post-meta > p {
    font-size: 14px;
    font-weight: 500;
    margin: .25rem;
}

.read-more-btn {
    border: 2px solid #100f0a;
    color: #100f0a;
    padding: 14px 40px;
}

.special-menu-btn-cont {
    margin-top: 16px;
    margin-bottom: -5px;
}

.button-special-menu {
    padding: 14px 23px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    align-items: center;
    min-width: 120px;
    box-shadow: 0 4px 8px 0 rgba(32,42,46,.04);
    background-color: #fff;
    border: 1px solid #F3BB30;
    background-color: #F3BB30;
    color: #100f0a;
    border-radius: 5px;
    transition: all .25s ease-in-out
}

.button-special-menu:hover {
    background-color: #f1b010;
    color: #100f0a;
    border-color: #f1b010;
    text-decoration: none;
}

@media (max-width:767px) {
    .special-menu-btn-cont {
        padding-top: 1rem;
        margin-bottom: 11px;
    }
    .benefits-bg img {
        width: 40%;
    }

    .benefit-title {
        font-size: .9rem;
        font-weight: 500;
    }
}
/* End special menu */

/* Product */

.individual-special-menu-photo {
    border-radius: 5px;
    height: 292px;
    width: 100%;
    overflow: hidden !important;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(32,42,46,.19);
}

.individual-special-menu-photo > div:first-child {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all .2s linear !important;
}

@media (min-width: 768px) {
    .individual-special-menu-item:first-child {
        margin-bottom: 40px;
    }
}

.individual-special-menu-item h4 {
    margin: .9rem 1rem 0 1rem;
    padding-top: .5rem;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #100f0a;
}

.individual-special-menu-item p {
    margin: 0 1rem 0 1rem;
    padding-top: .5rem;
    font-weight: 500;
    font-size: 14px;
    color: #777;
}

.strong-p {
    color: #100f0a;
}

.product-active {
    color: #aa3c3b !important;
    font-weight: 700 !important;
}

.product-img {
    text-align: center;
    margin-bottom: 1rem;
}

.product-img p {
    padding: 1rem;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #aa3c3b;
    margin: 0;
}

.product-img img {
    cursor: pointer;
    width: 23%;
    height: auto;
}

.product-floating-btn {
    position: absolute;
    width: 100%;
    bottom: -23px;
    left: 0;
    background-color:rgba(255, 255, 255, .92);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all .15s ease-in-out;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card {
    border: 0;
    background-color: #fff;
}

.card-body {
    padding-top: 15px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.product-card {
    transition: all .15s ease-in-out;
    border-radius: .1875rem;
    background-color: #fff;
    border: 0;
}

.card-img, .card-img-top {
    border-radius: 5px;
}

.btn-primary {
    background-color: #dc1525 !important;
    border-color: #dc1525 !important;
    color: #fff !important;
    box-shadow: none;
    font-size: .85rem;
    transition: all .25s ease-in-out;
}

.btn-primary:hover {
    background-color: #bd1220 !important;
    border-color: #bd1220 !important;
}

.btn-primary i {
    margin-right: 8px;
    font-size: 13px;
}

.product-floating-btn > .btn {
    background-color: transparent;
    border-radius: 5px;
}

.price-tag {
    font-size: 16px !important;
    color: #100f0a !important;
}

@media (min-width: 992px) {
    .product-card:hover:not(.card-static) {
        border-color: #fff !important;
        box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0, 0, 0, 0.1);
        z-index: 10;
    }
}

@media (min-width: 992px) {
    .product-card:hover:not(.card-static) .product-floating-btn {
        opacity: 1;
        visibility: visible;
        box-shadow: 0 0.9rem 1.525rem -0.375rem rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 991px) {
    .individual-special-menu-photo {
        height: 180px;
    }

    .individual-special-menu-item h4 {
        margin: 0 .5rem 0 .5rem;
    }

    .individual-special-menu-item p {
        margin: 0 .5 0 .5rem;
    }

    .special-menu-btn-cont {
        margin-top: 1rem;
    }
}

@media (max-width:767px) {
    .individual-special-menu-item h4 {
        padding-top: 1rem;
        margin: 0 17px;
    }

    .padding-0-for-mobile {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0;
        margin-right: 0;
        margin-top: 1.5rem;
    }

    .customize-menu-navigation {
        padding-top: .9rem;
        font-weight: 500;
    }

    .product-img p {
        padding: .5rem;
    }
}
/* End product */


/* Footer */

footer {
    text-align: center;
}

.textwidget img {
    width: 65px;
    height: auto;
}

.underline-logo-slogan {
    margin-top: .75rem;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    color: #100f0a;
    font-style: italic;
}

.footer-widget .widget-title--2 {
    color: #100f0a;
    margin: 0 0 .5rem;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
}

.footer-widget .widget-menu a {
    color: #100f0a;
    padding-bottom: 3px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    transition: all .25s ease-out;
    text-decoration: none;
}

.footer-widget .widget-menu a:hover {
    text-decoration: underline;
}

.fb-icon-size {
    display: inline-block;
    width: 1.1rem;
}

.fb-icon-size i {
    font-size: 14px;
    vertical-align: -1px;
}

.footer-widget .widget-title i{
    font-size: 16px;
    vertical-align: -1px;
    padding-right: 5px;
}

.newsletter-form--3 .newsletter-form__input {
    border: 1px solid #999;
    border-right: 0;
    padding-left: 10px;
    padding-left: 10px;
    width: 69%;
    color: inherit;
    font-size: 14px;
    font-weight: 500;
    color: #100f0a;
}

.newsletter-form__input {
    margin-top: 5px;
    background: transparent;
    border-radius: 5px;
    border-top-right-radius: 0 !important ;
    border-bottom-right-radius: 0 !important ;
    border: 1px solid #100f0a;
    line-height: 32px;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    color: #100f0a;
}

.newsletter-form--3 .newsletter-form__submit {
    border-radius: 5px;
    border-top-left-radius: 0 !important ;
    border-bottom-left-radius: 0 !important ;
    width: 30%;
    padding: 6px 10px;
    margin-left: -3px;
    border: 1px solid #F3BB30;
    background-color: #F3BB30;
    font-size: 14px;
    line-height: 32px;
    transition: all .25s ease-in-out;
}

.newsletter-form--3 .newsletter-form__submit:hover {
    background-color: #f1b010;
    color: #100f0a;
    border-color: #f1b010;
    text-decoration: none;
}

button:focus {
    outline: 0;
    outline: 0;
}

textarea:focus, input:focus{
    outline: none;
}

.social-small .social__item:not(:last-child) {
    margin-right: 1rem;
}

.copyright-text p:last-child {
    margin-bottom: 0;
}

.copyright-text p:last-child {
    margin-bottom: 0;
}

.copyright-text {
    font-size: 14px;
    margin-bottom: 0;
    color: #100f0a;
}

.copyright-text a {
    font-size: 14px;
    color: #100f0a;
    transition: all .25s ease-in-out;
}

.copyright-text a:hover {
    text-decoration: underline;
}

.copyright-text p {
    font-size: 1.4rem;
    color: #8a8a8a;
    font-weight: 400;
    line-height: 1.8;
}

.social-small .social__link {
    color: #282828;
    font-size: 15px;
}
/* End footer */
